<link rel="stylesheet" href="{{ url_for('static', filename='im.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
<link rel="icon" href="{{ url_for('static', filename='img/connect-ico.png') }}" type="image/png">


{% for message in messages %}
    <div class="message {% if message.sender_id == current_user.id %}sent{% else %}received{% endif %}">
        {% if message.sender_id != current_user.id %} 
            <img style="border-radius: 50%;" 
            src="{{ url_for('serve_avatars', filename=message.sender.avatar) if message.sender.avatar else url_for('serve_icons', filename='rotatingdandelion.gif') }}" 
            class="message-avatar" width="40" height="40">

        {% endif %}
        <div class="message-content">
            <p class="message-text">{{ message.text }}</p>
            <div class="time-and-read">
                <span class="timestamp">{{ message.timestamp.strftime('%H:%M') }}</span>
                {% if message.sender_id == current_user.id %}
                    <span class="read-mark" style="color: #0084b2;" {% if not message.read %} style="color:grey;" {% endif %}>✓</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}