<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect - Чат с {{ recipient.username }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='im.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/connect-ico.png') }}" type="image/png">

    <script src="{{ url_for('static', filename='im.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>

        const currentUserId = "{{ current_user.id }}";
        const recipientUsername = "{{ recipient.username }}"; // Убедитесь, что это имя получателя

        const avatarsBaseUrl = "{{ url_for('serve_avatars', filename='') }}"; 
        const defaultAvatarsUrl = "{{ url_for('serve_icons', filename='rotatingdandelion.gif') }}";

    </script>
</head>
<body>
    <header>
        <h1><a href="/">Connect with {{ recipient.username }}</a></h1>
        <nav>
            {% if current_user %}
            <a href="{{ url_for('user_profile.profile', username=recipient.username) }}">
                <img src="{{ url_for('serve_avatars', filename=recipient.avatar) }}">
            </a>
            {% endif %}
        </nav>
    </header>

    <div class="message-container" id="messageContainer" style="border: none;">
        <!-- Сообщения будут загружены сюда -->
        {% for message in messages %}
            <div class="message {% if message.sender_id == current_user.id %}sent{% else %}received{% endif %}">
                {% if message.sender_id != current_user.id %} 
                <a href="{{ url_for('user_profile.profile', username=message.sender.username) }}" class="avatar-and-username">
                    <img style="border-radius: 50%;object-fit: cover;" 
                        src="{% if message.sender and message.sender.avatar and message.sender.avatar not in ['null', 'None', 'Null', ''] %}
                                {{ url_for('serve_avatars', filename=message.sender.avatar) }}
                            {% else %}
                                {{ url_for('serve_icons', filename='rotatingdandelion.gif') }} 
                            {% endif %}" 
                        class="message-avatar" width="40" height="40">
                    <span class="username">{{ message.sender.username }}</span>
                </a>
                {% endif %}
                <div class="message-content">
                    <p class="message-text">{{ message.text }}</p>
                    <div class="time-and-read">
                        <span class="timestamp">{{ message.timestamp.strftime('%H:%M') }}</span>
                        {% if message.sender_id == current_user.id %}
                            <span class="read-mark" style="color: #0084b2;" {% if not message.read %} style="color:grey;" {% endif %}>✓</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <form id="messageForm"> 
        <input type="hidden" id="recipientUsername" name="recipient_username" value="{{ recipient.username }}"> 
        <input type="text" id="messageInput" name="message" placeholder="Напишите сообщение..." required></input>
        <button type="submit"><img src="{{ url_for('serve_icons', filename='send.png') }}"></button>
    </form>
</body>
</html>