<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeTube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <style>
        a {
            text-decoration: none;
            color: inherit;
        }
        a:hover, a:active {
            text-decoration: none;
            color: inherit;
        }
    </style>
</head>
<body style="background-color: black;color: white">
    <header>
        <h1><a href="/">inConnect</a></h1>
        <nav>
            {% if current_user %}
            <a><img src="{{ url_for('serve_avatars', filename=current_user.avatar) if current_user.avatar else url_for('serve_icons', filename='newibe.gif') }}"></a>
            <a>•</a>
            <a href="{{ url_for('logout') }}"> <img src="{{ url_for('serve_icons', filename='log-out.png') }}" width="30" height="30" ></a>
            
            {% else %}
                <a href="/login">
                    <img src="{{ url_for('serve_icons', filename='newibe.gif') }}" width="30" height="30">
                </a>
            {% endif %}

        </nav>
    </header>
    
</body>
</html>