/* web_im.css */


/* Контейнер сообщений */
.message-container {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    justify-content: flex-end;
    padding-bottom: 10px;
    background-color: #1b1b1b; /* Темный фон чата */
}

/* Сообщения */
.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    max-width: 70%;
    min-width: 120px;
    clear: both;
    word-break: break-word;
}

.sent {
    background-color: #2e2e2e;
    color: white;
    align-self: flex-end;
    float: right;
    margin-left: auto;
}

.received {
    background-color: #333;
    color: white;
    float: left;
    align-self: flex-start;
}

/* Содержимое сообщения */
.message-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* Время и статус прочтения */
.time-and-read {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 12px;
    color: #999;
}

.timestamp {
    margin-right: 5px;
}

.read-mark {
    font-size: 14px;
    color: #565f68; /* Голубой цвет для статуса прочтения */
}

/* Форма отправки сообщения */
#messageForm {
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #222; /* Темный фон формы */
}

#messageInput {
    flex-grow: 1;
    background-color: #2e2e2e;
    border: none;
    resize: none;
    min-height: 30px;
    max-height: 200px;
    margin-right: 10px;
    color: white;
    outline: none;
    border-radius: 4px; /* Слегка закругленные углы поля ввода */
    padding: 8px; /* Добавляем отступы внутри поля ввода */
}

button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%; /* Круглая кнопка отправки */
    background-color: #444;
    color: white;
    cursor: pointer;
}

button img {
    width: 24px;
    height: 24px;
}

/* Ссылки на профили */
.avatar-and-username {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    background-color: transparent; /* Убираем фон ссылки */
}

.avatar-and-username .message-avatar {
    margin-right: 5px;
}

.username {
    font-weight: 500; /* Слегка выделяем имя пользователя */
}