/* src/static/pc_index_page.css */

a img {
    border-radius: 50%;
    object-fit: cover;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a; /* Darkest gray background */
    margin: 0;
    padding: 0;
    color: #e0e0e0; /* Light gray text */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    height: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: #2e2e2e; /* Darker gray header background */
    border-bottom: 1px solid #222; /* Dark gray border */
}

header h1 {
    white-space: nowrap;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}

header h1 a {
    margin-left:  40px;
    color: inherit;
    text-decoration: none;
}

header nav {
    display: flex;
    align-items: center;
}

header a {
    margin-right: 40px;
}

header nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

header nav a img {
    border-radius: 50%;
    object-fit: cover;
    width: 36px;
    height: 36px;
    margin-right: 40px;
}

.content {
    position: relative;
    margin-top: 60px; /* Высота header */
    overflow: hidden;
    resize: horizontal;
    min-height: calc(100vh - 60px); /* 100% высоты экрана минус высота header */
    background-color: #2e2e2e;
}

.chat-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.overflow-auto { /* Класс для добавления прокрутки */
    overflow-y: auto;
}

.block-full {
    flex-grow: 1; 
}

.chat-card {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 15px;
    border-bottom: 1px solid #222; /* Dark gray border */
    text-decoration: none;
    color: inherit;
    transition: background-color 0.2s;
    transition: border-radius 0.4s;
    transition: all 0.4s;
}

.chat-card:hover {
    background-color: #444; /* Slightly lighter gray on hover */
    /* border-radius: 20px; */
    border-top-left-radius:      20px;
    border-bottom-left-radius:   20px;
    /* margin-left: 5px; */
}

.chat-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.chat-avatar {
    margin-right: 15px;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

.chat-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-username {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 2px;
}

.unread-count {
    background-color: #565f68; /* Blue unread count background */ 
    color: #fff;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 12px;
    margin-left: auto;
}

.chat-last-message {
    font-size: 14px;
    color: #99a6ad; /* Light gray last message text */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.friend-card.hidden {
    display: none;
}

.no-friends-message {
    align-items: center;
    padding: 15px;
    background-color: #2e2e2e; /* Darker gray friends slider background */
    /* border-bottom: 1px solid #222; Dark gray border */
    color: #8e9297; /* Dark gray placeholder text */
}

.avatar-suggestion {
    height: 50px;
    justify-content: center;
    background-color: #2e2e2e; /* Darker gray friends slider background */
    text-align: left;
    padding: 15px;
    color: #8e9297; /* Dark gray placeholder text */
    border-bottom: 1px solid #222; /* Dark gray border */
}

.avatar-suggestion a {
    color: #565f68; /* Blue link color */
    text-decoration: none;
}

.avatar-suggestion a:hover {
    text-decoration: underline;
}


.friends-slider {
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    height: 120px;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    /* background-color: #2e2e2e; Darker gray friends slider background */
    border-bottom: 1px solid #222; /* Dark gray border */
}

.friend-card {
    height: 80px;
    display: inline-block;
    border-radius: 0px;
    padding: 2px;
    text-align: center;
    margin-right: 5px;
    transition: background-color 0.2s;
    transition: border-radius 0.4s;
    transition: all 0.4s;
}

.friend-card:hover {
    background-color: #444;
    border-radius: 10px;
    /* border-bottom: 3px solid #333; */
}

.friend-avatar {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
}

.friend-username {
    display: block;
    font-size: smaller;
    /* font-size: 14px; */
    max-width: 60px;
    min-width: 60px;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.friends-search {
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: left;
    margin-left: 0px;
    width: 100%;
    max-width: 800px;
    min-width: 160px;
}

#friend-search-input {
    background-color: #333; /* Slightly lighter gray search input background */
    max-width: 800px;
    min-width: 80px;
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    border: none;
    border-radius: 16px;
    color: #e0e0e0;
    outline: none;
}

#friend-search-input::placeholder {
    color: #8e9297; /* Dark gray placeholder text */
}

#friend-search-button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#friend-search-button img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 10px;
}

.friends-search img#friend-search-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.not-auth {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    gap: 10px;
    word-break: break-word;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    padding: 20px;
    margin: 0 5px;
    background-color: #2e2e2e; /* Darker gray not-auth background */
    color: #fff;
    border-radius: 8px;
    z-index: 10;
    border: 1px solid #222; /* Dark gray border */
}

.not-auth h3, .not-auth p {
    grid-column: 1;
    padding: 5px;
    text-align: left;
}

.not-auth h3 {
    font-weight: 400;
    color: #ffffff;
}

.not-auth p {
    font-weight: 400;
    color: #8e9297; /* Dark gray placeholder text */
}

.not-auth .buttons {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.not-auth a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 0 5px 0;
    background-color: #333; /* Slightly lighter gray button background */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.not-auth a img {
    width: auto;
    height: 100px;
    max-width: 100%;
    object-fit: contain;
    padding: 10px;
    border-radius: 8px;
}

.not-auth a p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #222; /* Dark gray button text background */
    border-radius: 5px;
}

.not-auth a:hover {
    background-color: #40444b; /* Slightly darker gray on hover */
}

.welcomebar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    margin: 0 5px;
    align-items: center;
    min-height: auto;
    display: flex;
    background-color: #2e2e2e; /* Darker gray welcomebar background */
    word-break: break-word;
    border-top: 1px solid #222; /* Dark gray border */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #8e9297; /* Dark gray placeholder text */
}

.welcomebar p {
    padding-left: 20px;
    padding-right: 20px;
}

.chat-window {
    position: fixed;
    right: 0;
    top: 60px;
    width: calc(100% - 35%); /*  Set width to 100% - content width */
    height: calc(100vh - 60px); /* Adjust height */
    background-color: #1b1b1b;
    overflow-y: auto;
    overflow-x: hidden;
    /* Add any other styling you need for the chat window */
    /* border-radius: 8px; */
}

.chat-window.full-width {
    width: 100%;
}

@media (max-width: 700px) { 
    .content {
        width: 100%; /* Занимает всю ширину экрана */
        resize: none; /* Отключаем изменение размера вручную */
    }

    .resize-handle {
        display: none; /* Скрываем разделитель */
    }

    .chat-window {
        position: relative;
        width: 100%;
        top: 0;
        height: calc(100vh - 60px);
    }

    .chat-window.full-width {
        width: 100%;
    }
}

.resize-handle {
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
    height: 100%;
    cursor: ew-resize;
    z-index: 10;
    background-color: #222; /* Dark gray resize handle */
}

.friend-requests {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #2e2e2e; /* Darker gray friend requests background */
    border-bottom: 1px solid #222; /* Dark gray border */
}

.friend-requests li {
    padding: 15px;
    border-bottom: 1px solid #222; /* Dark gray border */
    color: #8e9297; /* Dark gray placeholder text */
}

.friend-requests li a {
    color: #565f68; /* Blue link color */
    text-decoration: none;
    margin-left: 10px;
}

.friend-requests li a:hover {
    text-decoration: underline;
}

@media (max-width: 700px) { 
    .content {
        width: 100%; /* Занимает всю ширину экрана */
        resize: none; /* Отключаем изменение размера вручную */
    }

    .resize-handle {
        display: none; /* Скрываем разделитель */
    }
}
@media (min-width: 900px) {
    .content {
        max-width: 35%;
        min-width: 250px;
    }
}

.chat-username,
.friend-username,
.chat-last-message {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.welcomebar h3 {
    padding: 5px;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
}

::-webkit-scrollbar {
    width: 8px !important;
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: #565f68 !important; /* Blue scrollbar thumb */
    border-radius: 4px !important;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

/* Firefox */
* {
    scrollbar-width: thin !important;
    scrollbar-color: #565f68 transparent !important;
}

*::-moz-scrollbar {
    width: 8px !important;
}

*::-moz-scrollbar-track {
    background: transparent !important;
}

*::-moz-scrollbar-thumb {
    background-color: #565f68 !important; /* Blue scrollbar thumb */
    border-radius: 4px !important;
}

.content {
    margin-top: 60px;
    overflow: hidden;
    resize: horizontal;
}

@media (min-width: 900px) {
    .content {
        max-width: 35%;
        min-width: 250px;
    }
}

.chat-username,
.friend-username,
.chat-last-message {
    text-overflow: ellipsis;
    white-space: nowrap;
}