<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/connect-ico.png') }}" type="image/png">

    <script src="{{ url_for('static', filename='auth.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<header>
    <h1><a href="/">Connect</a></h1>
</header>

<body>
    <div class="auth-container">
        <div id="loginForm" class="auth-form">
            <h2>Авторизация</h2>
            {% if login_error %}
            <p class="error">{{ login_error }}</p>
            {% endif %}
            <form method="POST">
                <input type="username" name="username" placeholder="Имя пользователя" required><br>
                <input type="password" name="password" placeholder="Пароль" required><br>
                <button type="submit" name="login_submit">Войти</button>
            </form>
            <p id="registerLink">Вы ещё не подключены? <a href="#" onclick="showRegisterForm()">Зарегистрируйтесь</a></p>
            <p id="forgotPasswordLink" style="display: none;"><a href="#"
                    onclick="showForgotPasswordForm()">Забыли пароль?</a></p>
        </div>

        <div id="registerForm" class="auth-form" style="display: none;height: 400px;margin-top: 100px;">
            <h2>Регистрация</h2>
            {% if register_error %}
            <p class="error">{{ register_error }}</p>
            {% endif %}
            <form method="POST" >
                <input type="username" name="new_username" placeholder="*Имя пользователя" required><br>
                <input type="password" name="new_password" placeholder="*Пароль" required><br>
                <input type="email" name="mail" placeholder="Почта" required><br>
                <input type="tel" name="phone" placeholder="Телефон (+7 XXX-XX-XX)" pattern="^\+\d{1} \d{3}-\d{2}-\d{2}$"><br>
                <button type="submit" name="register_submit">Зарегистрироваться</button>
            </form>
            <p id="loginLink" style="display: none;">Вы уже подключены? <a href="#" onclick="showLoginForm()">Войдите</a>
            </p>
        </div>

        <div id="forgotPasswordForm" class="auth-form" style="display: none;">
            <h2>Забыли пароль?</h2>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <form method="POST">
                <input type="email" name="mail" placeholder="Ваша почта" required><br>
                <button type="submit">Отправить пароль</button>
            </form>
        </div>

        <div class="welcomebar">
            <p>Авторизация предоставит вам возможность взаимодействовать с другими пользователями и использовать все
                возможности платформы.</p>
        </div>

    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>
</html>