<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect - {{ user.username }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='phone.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/connect-ico.png') }}" type="image/png">


</head>
<body>
    <header>
        <h1><a href="/">Connect</a></h1>
        <h2 class="antenna">
            <a href="#"><img src="{{ url_for('static', filename='img/Antenna.png') }}" style="border-radius: 0%;width: 40px;">
            </a>
        </h2>
        <nav>
            {% if current_user %}
            <a href="{{ url_for('user_profile.profile', username=current_user.username) }}">
                <img src="{{ url_for('serve_avatars', filename=current_user.avatar) }}">
            </a>
            {% if current_user and current_user.username == user.username %}
                <a style="color: white;">•</a>
                <a id="settingsBtn" onclick="toggleSettingsPanel()">
                    <img src="{{ url_for('serve_icons', filename='settings-icon.png') }}" width="30" height="30" alt="Настройки"> 
                </a>
                <a style="color: white;">•</a>
                <a href="{{ url_for('auth.logout') }}"> <img src="{{ url_for('serve_icons', filename='log-out.png') }}" width="30" height="30" ></a>
            {% endif %}    
            {% else %}
                <a href="{{ url_for('auth.auth') }}"> 
                    <img src="{{ url_for('serve_icons', filename='newibe.gif') }}" width="30" height="30">
                </a>
            {% endif %}
            

        </nav>
    </header>

    <div class="profile-container"> 

        <div class="profile-header">
            {% if user.avatar %}
                <img src="{{ url_for('serve_avatars', filename=user.avatar) }}" alt="Аватар" class="profile-avatar">
            {% else %}
                <img src="{{ url_for('serve_icons', filename='rotatingdandelion.gif') }}" alt="Аватар" class="profile-avatar"> 
            {% endif %}

            <h2>{{ user.fullname }} 
                
                {% if user.validated_profile %} 
                    <span style="vertical-align: middle;"> 
                        <img src="{{ url_for('serve_icons', filename='check-icon.png') }}" alt="Профиль подтверждён" style="width: 18px; height: 18px;">
                    </span>
                {% endif %}
            <br>
                <h3 style="font-family: 'Courier New', Courier, monospace;font-size: medium; margin-top: -16px;color: #616161;">
                    profile/{{ user.username }} </h3>
            </h2> 
            {% if current_user and current_user.username == user.username %}
            <a>
            <span id="createPostBtn"> 
                <h3 style="font-family: 'Courier New', Courier, monospace; font-size: medium; margin-top: 8px; color: #616161; display: inline-block; margin-right: 5px;">Что у вас нового?</h3> 
                <img src="{{ url_for('serve_icons', filename='upload-icon1.png') }}" alt="публикация" style="width: 20px; height: 20px; vertical-align: middle;">
            </span>
            </a>
            {% endif %}
        </div>

        {% if current_user and current_user.username == user.username %}
                <form id="changeavatar" style="display: none;transition: all 0.4s;"> 
                    <h2 style="justify-content: left;margin-top: -5px;">Панель настроек</h2>
                    <div class="separator"></div>
                    <input type="file" name="avatar" accept="image/*"> 

                    <h3>Имя пользователя:</h3>
                    <input type="text" name="fullname" id="fullname" value="{{ user.fullname }}"> 
                    <br>
                    
                    <h3>Адрес электронной почты:</h3>
                    <span id="emailDisplay">{{ user.mail }} 
                        <button type="button" id="changeEmailBtn" onclick="showEmailInput()">Изменить email</button>
                    </span>
                    <input type="email" name="newEmail" id="newEmail" style="display: none;">
                    <input type="password" name="password" id="password" placeholder="Пароль" style="display: none;">
                    <button type="button" id="confirmEmailBtn" style="display: none;" onclick="saveAllSettings()">Подтвердить</button>
                    <br>

                    <h3>Пароль: текущий пароль скрыт</h3>
                    <button type="button" onclick="showPasswordInputs()">Изменить пароль</button>
                    <input type="password" name="currentPassword" id="currentPassword" placeholder="Текущий пароль" style="display: none;">
                    <input type="password" name="newPassword1" id="newPassword1" placeholder="Новый пароль" style="display: none;">
                    <input type="password" name="newPassword2" id="newPassword2" placeholder="Повторите новый пароль" style="display: none;">
                    <br>

                    <h3>Кто может отправлять сообщения:</h3>
                    <select name="messageSettings" id="messageSettings">
                        <option value="friends" {% if user.message_settings == 'friends' %}selected{% endif %}>Друзья</option>
                        <option value="friends_of_friends" {% if user.message_settings == 'friends_of_friends' %}selected{% endif %}>Друзья и друзья друзей</option>
                        <option value="all" {% if user.message_settings == 'all' %}selected{% endif %}>Все</option>
                    </select>

                    <div class="separator"></div>

                    <button type="button" onclick="saveAllSettings()">Сохранить все настройки</button> 
                </form>
        {% endif %}

        {% if current_user and current_user.username != user.username %}
            {% if is_friend %}
                <p>Вы друзья с этим пользователем</p>
                <a href="{{ url_for('messenger.im', username=user.username) }}" class="button">Написать сообщение</a>
                <br>
            {% elif friend_request_sent %}
                <p>Запрос в друзья отправлен</p>
            {% else %}
                <a href="{{ url_for('user_profile.send_friend_request', username=user.username) }}" class="button">Добавить в друзья</a>
                <br>
                {% if user.message_settings == 'all' %} 
                    <a href="{{ url_for('messenger.im', username=user.username) }}" class="button">Написать сообщение</a>
                    <br>
                {% elif user.message_settings == 'friends_of_friends' and are_friends_of_friends %}
                    <a href="{{ url_for('messenger.im', username=user.username) }}" class="button">Написать сообщение</a>
                    <br>
                {% endif %}
            {% endif %}
        {% endif %}

        <!-- Контейнер для постов -->
        <div id="postsContainer">
            {% for post in user.posts|reverse %}
                <div class="post" id="post-{{ post.id }}">
                    {% if post.image %}
                        <img src="{{ url_for('static', filename='users/images/' + post.image) }}" alt="Изображение поста">
                    {% endif %}
                    <div class="post-text">
                        {{ post.text }}
                    </div>
                    <div class="post-author">
                        <div class="post-author-content">
                            <img src="{{ url_for('serve_avatars', filename=post.user.avatar) }}" alt="Аватар автора" class="post-author-avatar">
                            <div class="post-author-details">
                                <span class="post-author-fullname">{{ post.user.fullname }}</span>
                                <span class="publish-data">{{ post.timestamp.strftime('%H:%M') }}</span>
                            </div>
                        </div>
                        {% if current_user and current_user.id == post.user_id %}
                            <img src="{{ url_for('static', filename='img/clear-icon.png') }}" alt="Удалить пост" class="delete-post-button" data-post-id="{{ post.id }}">
                        {% endif %}
                    </div>                    
                </div>
            {% endfor %}
        </div>

    </div>

    <!-- Панель создания поста -->
    <div id="createPostPanel">
        <div style="display: flex;">
            <div class="image-upload-area">
                <input type="file" id="postImageInput" accept="image/*" style="display: none;">
                <label for="postImageInput">
                    Нажмите, чтобы загрузить изображение
                </label>
                <img id="postImagePreview" src="" alt="" style="border: 2px dashed #ccc;">
            </div>
            <div class="text-area">
                <textarea id="postTextInput" placeholder="Введите текст поста (максимум 1000 символов)" maxlength="1000"></textarea>
                <button type="button" id="publishPostBtn">Опубликовать</button>
            </div>
        </div>
    </div>

    <!-- Затемнение фона -->
    <div id="overlay"></div>

    <div class="phoneMenu">
        <a href="/feed"><img src="{{ url_for('static', filename='img/feed.png') }}"></a>
        <a href="/"><img src="{{ url_for('static', filename='img/messenger.png') }}"></a>
        <a href="#"><img src="{{ url_for('static', filename='img/friends.png') }}"></a>
        <a href="#"><img src="{{ url_for('static', filename='img/menu.png') }}"></a>
    </div>

    <script>
        const fullnameInput = document.getElementById('fullname');

        fullnameInput.addEventListener('input', function() {
            let words = this.value.trim().split(/\s+/); 
            if (words.length > 3) {
                words = words.slice(0, 3); 
                this.value = words.join(' '); 
            }
        });

        function showEmailInput() {
            document.getElementById("emailDisplay").style.display = "none";
            document.getElementById("newEmail").style.display = "block";
            document.getElementById("password").style.display = "block";
            document.getElementById("changeEmailBtn").style.display = "none";
            document.getElementById("confirmEmailBtn").style.display = "block";
        }

        function showPasswordInputs() {
            document.getElementById("currentPassword").style.display = "block";
            document.getElementById("newPassword1").style.display = "block";
            document.getElementById("newPassword2").style.display = "block";
        }

        function saveAllSettings() {
            var fullname = document.getElementById("fullname").value;
            var newEmail = document.getElementById("newEmail").value;
            var password = document.getElementById("password").value;
            var currentPassword = document.getElementById("currentPassword").value;
            var newPassword1 = document.getElementById("newPassword1").value;
            var newPassword2 = document.getElementById("newPassword2").value;
            var messageSettings = document.getElementById("messageSettings").value;

            var formData = new FormData();
            formData.append('fullname', fullname);
            formData.append('newEmail', newEmail);
            formData.append('password', password);
            formData.append('currentPassword', currentPassword);
            formData.append('newPassword1', newPassword1);
            formData.append('newPassword2', newPassword2);
            formData.append('messageSettings', messageSettings);

            var avatarInput = document.querySelector('#changeavatar input[type="file"]');
            if (avatarInput.files.length > 0) {
                formData.append('avatar', avatarInput.files[0]);
            }

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{{ url_for('user_profile.save_settings', username=user.username) }}", true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        alert("Все настройки сохранены!");
                        location.reload();
                    } else {
                        alert("Ошибка при сохранении настроек: " + xhr.responseText);
                    }
                }
            };
            xhr.send(formData);
        }

        function toggleSettingsPanel() {
            var settingsPanel = document.getElementById("changeavatar");
            if (settingsPanel.style.display === "none") {
                settingsPanel.style.display = "block";
                postsContainer.style.display = "none";
                createPostBtn.style.display = "none";
                settingsPanel.style.transition = "all 0.4s"; 
            } else {
                settingsPanel.style.display = "none";
                postsContainer.style.display = "block";
                createPostBtn.style.display = "inline-block";
                settingsPanel.style.transition = "all 0.4s"; 
            }
        }

        // Функция для открытия/закрытия панели создания поста
        function toggleCreatePostPanel() {
            var panel = document.getElementById("createPostPanel");
            var overlay = document.getElementById("overlay");

            if (panel.style.display === "none") {
                panel.style.display = "block";
                overlay.style.display = "block";
            } else {
                panel.style.display = "none";
                overlay.style.display = "none";
            }
        }

        // Привязываем обработчик события к кнопке "create-post"
        document.getElementById("createPostBtn").addEventListener("click", toggleCreatePostPanel);

        // Закрываем панель при клике на overlay
        document.getElementById("overlay").addEventListener("click", function() {
            toggleCreatePostPanel(); 
        });

        // Обработка загрузки изображения
        document.getElementById("postImageInput").addEventListener("change", function() {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById("postImagePreview").src = e.target.result;
                    document.getElementById("postImagePreview").style.display = "block";
                }
                reader.readAsDataURL(file);
            }
        });

        // Задержка перед публикацией (в миллисекундах)
        const PUBLISH_COOLDOWN = 5000; // 5 секунд

        // Глобальная переменная для отслеживания возможности публикации
        let canPublish = true;

        // Обработка публикации поста
        document.getElementById("publishPostBtn").addEventListener("click", function() {
            if (canPublish) {
                publishPostBtn.disabled = true; 
                const text = document.getElementById("postTextInput").value;
                const imageInput = document.getElementById("postImageInput");
                const formData = new FormData();

                formData.append('text', text);
                if (imageInput.files.length > 0) {
                    formData.append('image', imageInput.files[0]);
                }

                fetch("{{ url_for('user_profile.create_post', username=user.username) }}", {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        alert(data.message);
                        toggleCreatePostPanel(); // Закрываем панель после публикации
                        // Дополнительные действия, например, обновление списка постов
                        location.reload(); // Обновляем страницу, чтобы отобразить новый пост
                    }
                });
                
                // Устанавливаем задержку
                canPublish = false;
                setTimeout(() => {
                    canPublish = true;
                    publishPostBtn.disabled = false; 
                }, PUBLISH_COOLDOWN);

            } else {
                alert(`Подождите ${PUBLISH_COOLDOWN / 1000} секунд перед публикацией следующего поста`);
            }
        });

        // Обработка увеличения изображения при клике
        document.getElementById("postsContainer").addEventListener("click", function(event) {
            const image = event.target; 
            // Проверяем, что клик был по изображению И что у изображения есть родитель с классом "post"
            if (image.tagName === "IMG" && !image.closest('.post-author')) { 
                if (image.classList.contains("zoomed")) {
                    image.classList.remove("zoomed");
                } else {
                    image.classList.add("zoomed");
                }
            }
        });

        // Обработка удаления поста
        const deletePostButtons = document.querySelectorAll('.delete-post-button');
        deletePostButtons.forEach(button => {
            button.addEventListener('click', function() {
                const postId = this.dataset.postId;
                // Используем более дружелюбное сообщение с вариантом отмены
                if (confirm('Этот пост будет удалён безвозвратно. Продолжить?')) { 
                    fetch(`/profile/{{ user.username }}/delete_post/${postId}`, {
                        method: 'DELETE'
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            alert(data.error);
                        } else {
                            alert(data.message);
                            document.getElementById(`post-${postId}`).remove();
                        }
                    });
                } else {
                    // Действия, если пользователь нажал "Отмена" (необязательно)
                }
            });
        });

    </script>
</body>
</html>