/* src/static/index_page.css */

/* Медиа-запрос для телефонов */
@media (max-width: 768px) {
    header .search-container input[type="text"] {
        width: 80%;
        max-width: 150px; 
    }
}

a img {
    border-radius: 50%;
    object-fit: cover;
    /* overflow-y: scroll; */
}

body {
    font-family: 'Material Icons', sans-serif;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
}

header {
    margin: 5px;
    border-bottom-left-radius:  10px;
    border-bottom-right-radius: 10px;
    height: 40px;

    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    background-color: #2e2e2e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: white;
    margin-bottom: 20px;

    border: 1px solid #333;
}

@media (max-width: 700px) {
    header {
        margin: 0px;
        border-radius: 0px;
    }
}

header h1 {
    margin: 0;
    padding-left: 10px;
    font-size: 24px;
    color: #ffffff;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-left: 15px;
}

header nav a img {
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
    height: 40px;
}

header a:link, header a:visited {
    color: inherit;
    text-decoration: none;
}

header a:hover, header a:active {
    color: inherit;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    background-color: #333;
}

.chat-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-card {
    display: flex;
    align-items: center; 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-left: 5px;
    background-color: #272727;
    margin-right: 5px;
    margin-bottom: 2px;
    text-decoration: none;
    color: inherit;
}

.chat-list .chat-card:last-child {
    border-bottom-left-radius: 10px; /* Закругляем левый нижний угол */
    border-bottom-right-radius: 10px; /* Закругляем правый нижний угол */
}

.chat-card:hover {
    background-color: #181818;
}

.chat-content {
    display: flex; 
    align-items: center; 
}

.content {
    margin-top: 10px;
}

.chat-avatar {
    margin-right: 10px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.chat-username {
    font-weight: bold;
    display: block;
}

.unread-count {
    background-color: #f00;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 12px;
}

.friend-card.hidden {
    display: none;
  }

.friends-slider {
    margin-left: 5px;
    margin-top: 2px; 
    margin-right: 5px;
    align-items: center;
    height: 85px;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto; 
    white-space: nowrap;
    background-color: #272727;
    border-bottom: 2px solid #1a1a1a;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

.no-friends-message {
    margin-left: 5px;
    margin-top: 2px; 
    margin-right: 5px;
    align-items: center;
    padding: 10px;
    background-color: #272727;
    border-bottom: 2px solid #1a1a1a;
    /* Убираем скругление по умолчанию */
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0;
}

.no-friends-message.rounded { /* Добавляем класс для скругления */
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}

.avatar-suggestion {
    background-color: #272727; 
    margin-top: 2px; 
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    padding: 10px;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
  }
  
  .avatar-suggestion a {
    color: #337ab7; /* Синий цвет ссылки */
    text-decoration: none; 
  }
  
  .avatar-suggestion a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
  }

.friend-card {
    display: inline-block;
    padding: 10px;
    margin-right: 10px; 
    text-align: center;
}

.friend-avatar {
    display: block;
    margin: 0 auto; 
    width: 50px;
    height: 50px;
}

.friend-username {
    display: block;
}

.friends-search {
    position: relative;
    background-color: transparent;
    display: flex; /* Делаем friends-search flex-контейнером */
    align-items: center; /* Выравниваем элементы по вертикали */
}

#friend-search-input {
    background-color: transparent;
    min-width: 80px;
    width: auto;
    height: 30px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #2e2e2e;
    margin-left: 10px;
    color: white;
}

#friend-search-button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

#friend-search-button img {
    background-color: transparent;
    
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 10px;
}

.friends-search {
    position: relative; /* To position the icon within the input */
    display: flex;
    align-items: center; /* Align items vertically */
}

.friends-search input {
    padding-right: 30px; /* Add padding to the right for the icon */
    outline: none; /* Remove outline on focus */
}

.friends-search img#friend-search-icon {
    position: absolute; /* Position the icon absolutely */
    right: 5px; /* Position it to the right */
    top: 50%; /* Vertically center the icon */
    transform: translateY(-50%); /* Adjust vertical position */
    cursor: pointer; /* Add cursor pointer to indicate clickability */
    width: 20px;
    height: 20px;
}


.not-auth {
    position: fixed;
    display: grid; /* Use grid layout */
    grid-template-columns: 1fr auto; /* Two columns: text and buttons */
    align-items: start; /* Align items to the top */
    gap: 10px; /* Space between columns */
    word-break: break-word;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%; 
    padding: 20px;
    margin: 0px 5px;
    background-color: #272727;
    color: #fff; 
    border-radius: 10px;
    z-index: 10; 
}

.not-auth h3,.not-auth p {
    grid-column: 1; /* Text in the first column */
    padding: 5px;
    text-align: left; 
}

.not-auth h3 {
    font-weight: 400; 
}

.not-auth p {
    font-weight: 400;
}

.not-auth .buttons {
    grid-column: 2; /* Buttons in the second column */
    display: flex;
    flex-direction: column; /* Arrange buttons vertically */
    align-items: flex-end; /* Align buttons to the right */
}

.not-auth a {
    display: flex;
    flex-direction: column; /* Arrange image and text vertically */
    align-items: center; 
    padding: 0px 0px;
    margin: 0 0 5px 0; 
    background-color: #444; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.not-auth a img {
    width: auto; 
    height: 100px; 
    max-width: 100%; 
    object-fit: contain; 
    /* margin-bottom: 5px; */
    padding: 10px; 
    border-radius: 10px;
}

.not-auth a p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

    background-color: #2e2e2e;
    border-radius: 5px;
}

.not-auth a:hover {
    background-color: #555; 
}

.welcomebar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%; /* Limit width to 90% of viewport */
    margin: 0 5px;
    align-items: center;
    min-height: auto;
    display: flex;
    background-color: #272727;
    word-break: break-word;
    border-bottom: 2px solid #1a1a1a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.welcomebar p {
    padding-left:  20px;
    padding-right: 20px;
}

/* For screens smaller than 600px, adjust width further */

@media (max-width: 1200px) {
    .not-auth {
        max-width: 100%; /* Wider on very small screens */
        left: 0%;
        transform: translateX(0%);
      }
    }

@media (max-width: 800px) {
  .welcomebar {
    max-width: 100%; /* Wider on very small screens */
    left: 0%;
    transform: translateX(0%);
  }
  .welcomebar p {
    font-size: 12px;
  }

  .not-auth p {
    font-size: 12px;
  }
}

.welcomebar h3 {
    padding: 5px;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
}

::-webkit-scrollbar {
  width: 8px !important; 
  background: transparent !important; 
}

::-webkit-scrollbar-thumb {
  background: #888 !important; 
  border-radius: 4px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important; 
}

/* Firefox */
* {
  scrollbar-width: thin !important;
  scrollbar-color: #888 transparent !important; 
}

*::-moz-scrollbar {
  width: 8px !important;
}

*::-moz-scrollbar-track {
  background: transparent !important;
}

*::-moz-scrollbar-thumb {
  background-color: #888 !important;
  border-radius: 4px !important;
}

img {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}