/* Общие стили */
body {
    background-color: #181818;
    color: #e7e7e7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Скрываем вертикальную прокрутку для body */
    height: 100vh; /* Устанавливаем высоту body на 100% высоты области просмотра */
}

.feed-container {
    
    width: 100%;
    align-items: center; 
    border-radius: 10px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    overflow-y: auto;  /* Добавляем вертикальную прокрутку к feed-container */
    height: calc(100vh - 20px); /* Занимаем всю доступную высоту, minus header*/
    /* padding-top: 20px; */
}

h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

/* Стили для блока поста */
.post {
    background-color: #2a2a2a;
    min-height: 60px;
    max-height: 800px;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 500px;
    padding: 3px;
    border: 1px solid #333;
}

.post-header {
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-author-details {
    display: flex;
    flex-direction: column;
}

.post-author-fullname {
    font-weight: bold;
    color: #ffffff; /* Цвет имени автора */
}

.publish-data {
    font-size: 12px;
    color: #888888;
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover;
    transition: 0.5s;
}

.post-image.zoomed {
    transform: scale(1.1);
}

@media (min-width: 660px) {
    .post-image.zoomed {
        transform: scale(1.2);
    }
}

.content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin-top: 20px; Добавим отступ сверху */
    overflow: hidden; /*  Скрываем вертикальную прокрутку для враппера */
}

/* Стили для кнопок навигации */
.sidebar {
    display: none; /* По умолчанию скрываем боковую панель */
    min-width: 160px;
    margin-right: 20px; /* Добавим отступ справа */
    margin-left: 5px;
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #333;
}

.sidebar a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
    background-color: #2a2a2a;
    border-radius: 5px;
}

.post-text {
    color: #e7e7e7;
    word-wrap: break-word;
    padding-left: 10px;
    padding-bottom: 10px;
}  

#postsContainer {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 80px;
    margin-top: 10px;
}

/* Показываем боковую панель, если ширина экрана больше 900px */
@media (min-width: 701px) {
    .content-wrapper {
        justify-content: center; /* Выравниваем контент по центру */
    }

    .sidebar {
        display: block;
    }

    .feed-container {
        margin: 0; /* Убираем автоматические отступы для feed-container */
    }

    #postsContainer {
        margin-right: 18%;
    }
}

.sidebar a img {
    width: 20px;
    height: auto;
    border-radius: 0%;
    margin-right: 5px;
}

.sidebar a {
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  text-decoration: none; /* Убираем подчеркивание ссылки */
  margin-bottom: 10px; /* Добавляем отступ между ссылками */
}

.sidebar a:hover {
    background-color: #333;
}

