/* Стили для phoneMenu */
.phoneMenu {
    display: none; /* По умолчанию скрываем меню */
    position: fixed; /* Фиксируем меню внизу экрана */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2a2a2a;
    border-top: 1px solid #333;
    padding: 10px 0;
    z-index: 1000; /* Устанавливаем высокий z-index */
    text-align: center; /* Центрируем элементы внутри phoneMenu */
}

.phoneMenu a {
    display: inline-block;
    width: auto; /* Убираем фиксированную ширину */
    margin: 0 1%; /* Добавляем отступы по бокам от каждой кнопки */
    text-align: center; 
}

.phoneMenu a img {
    width: 30px;
    height: auto;
    border-radius: 0%;
}

.antenna {
    display: none;
}

/* Показываем меню, если ширина экрана меньше 800px */
@media (max-width: 700px) {
    .phoneMenu {
        display: flex; /* Используем flexbox для центрирования и равномерного распределения */
        justify-content: space-around; /* Равномерно распределяем кнопки */
        align-items: center; /* Выравниваем кнопки по вертикали */
    }

    .pcmenu {
        display: none;
    }

    .antenna {
        display: block;
        /* position: relative; */
        background-color: #2e2e2e;
        border-radius: 10px;
        position: fixed;
        padding-top: 10px;
        margin-left: 10px;
        
    }

    h1 a {
        display: none;
    }
}