/* src/static/auth.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    color: #ffffff; /* Цвет текста по умолчанию - белый */
}

.auth-container {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
}

.auth-form {
    background-color: #2e2e2e; /* Темный фон формы */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; /* Выравнивание текста по центру */
    width: 300px; /* Ширина формы */
    height: 300px; /* Ширина формы */
    position: fixed;
}

.auth-form h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.auth-form input[type="username"],
.auth-form input[type="email"],
.auth-form input[type="tel"],
.auth-form input[type="password"] {
    width: auto;
    min-width: 70%;
    max-width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #222;
    color: #ffffff;
}

.auth-form button[type="submit"] {
    background-color: #007bff; /* Цвет кнопки */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-form button[type="submit"]:hover {
    background-color: #0056b3; /* Цвет при наведении */
}

.auth-form .error {
    color: #ff0000; /* Цвет текста ошибки */
    margin-top: 10px;
}

.auth-form a {
    color: #007bff; /* Цвет ссылок */
    text-decoration: none;
}

.auth-form a:hover {
    text-decoration: underline;
}

#registerLink,#loginLink {
    text-align: center;
}